
.recently-added-modal {
    width: 35%;
    height: 70%;
    position: fixed;
    top: 50%;
    transform: translate(50%, -50%);
    border-radius: 8px;
    z-index: 9999;
    /*background-color: rgba(255, 255, 255, 0.9);*/
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    word-wrap: break-word;
    background-color: #1b2843;

}

.Rmodal {
    word-wrap: break-word;
    height: 93%;
    background: #fafafa;;
    border-radius: 20px;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.Smodal {
    word-wrap: break-word;
    background: #fafafa;;
    border-radius: 20px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 70%;
}


.recently-added-modal h2 {
    margin-top: 0;
    font-size: 35px;
}

.recently-added-list {
    cursor: pointer;
    list-style: none;
    padding: 0;
    overflow-y: scroll;
}

.recently-added-list li {
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    overflow: scroll;
}

.recently-added-list li:last-child {
    border-bottom: none;
}

.recently-added-modal button {
    background-color: #201658;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 25px;
}

.recently-added-modal button:hover {
    background-color: #0f0b24;
}

.recently-added-modal li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.song-info-modal {
    position: fixed;
    width: 70%;
    top: 50%;
    left: 60%;
    transform: translate(60%, -50%);
    border-radius: 8px;
    z-index: 9999;
    /*background-color: rgba(255, 255, 255, 0.9);*/
    background-color: #1b2843;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.song-info-modal h2 {
    overflow: scroll;
}

.song-info-modal h2::-webkit-scrollbar {
    display: none;
}

.recently-added-list li::-webkit-scrollbar {
    display: none;
}

.Rmodal .recently-added-list::-webkit-scrollbar {
    /*display: none;*/
    width:8px;
   
}

.Rmodal .recently-added-list::-webkit-scrollbar-thumb {
    background-color: rgba(32, 22, 88, 0.5); /* 스크롤바 색상 */
    border-radius: 4px;

}

.Smodal ::-webkit-scrollbar {
    display: none;
}


@media (max-width: 768px) {
    .Rmodal{
        background:#fafafa;;
        border-radius: 20px;
        padding: 10px;
        font-size: 30px;
        text-align: center;
        height: 93%;
        display: flex;
        flex-direction: column;
    }

    .recently-added-modal h2 {
        margin-top: 5px;
        font-size:30px;
    }

    .recently-added-list li {
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
        cursor: pointer;
        overflow: scroll;
        font-size:15px;
    }
    
    }