HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### node module ###
/src/main/frontend/node_modules

### docker data files ####
/docker/mongo-data
/docker/ym-data

### docker compose file
/docker/compose.yaml

### 노드모듈 ###
node_modules/
src/main/resources/static/static/js/main.3fec3f5b.js.map
src/main/resources/static/static/js/main.10367160.js
src/main/resources/static/static/js/main.10367160.js.LICENSE.txt
src/main/resources/static/static/js/main.10367160.js.map
