.library-body {
    width: 97%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.album-card {
    background-size: cover;
    background-position: center;
    /* 기본 이미지 위에 표시되는 이미지를 가리기 위해 z-index 설정 */
    z-index: 2;
    /* 다른 내용이 기본 이미지 위에 오도록 설정 */
    position: relative;
    opacity: 1;
    height: auto;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#album-cover-input {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.album-card {
    transition: transform 0.3s ease-in-out;
    border-radius: 4px;
}

.album-card:hover {
    transform: scale(1.1); /* 이미지 확대 효과 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
}

.create-album {
    display: block;
    unicode-bidi: isolate;
    background-color: #fafafa33;
    height: 3%;
    border-radius: 8px;
    padding: 0.5%;
    width: 93%;
    position: relative;
    top: -35%;
    z-index: 20;
    margin-left: 2%;
}

.library-body button {
    display: inline-flex;
    color: white;
    font-family: Orbitron, sans-serif;
    outline: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background-color: #1f4a78;
}

.library-body button:hover {
    background-color: #7eb9fb;
}

.library-body button:active {
    background-color: #022f5e;
}

.album-cover {
    opacity: 1;
    z-index: 1;
    background-color: #fafafa33;
}

.album-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;

}

.album-card h3 {
    margin: 10px 0;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.song-list {
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0 0 15px 15px;
    margin-top: auto;
}

.song-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.song-list li {
    font-size: 14px;
    margin-bottom: 5px;
}


.audio-input {
    color: black;
    padding: 5px;
    margin-top: 2px;
    background-color: #a8e2e4;
    border-radius: 0px 10px 10px 0px;
}

#select-music {
    background-color: #a8e2e4;
    padding: 5px;
    color: #818181;
    border-radius: 10px;
    float: left;
}

.edit-album-details {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.edit-album-details input[type="text"] {
    margin-bottom: 10px;
}

.edit-album-details input[type="file"] {
    margin-bottom: 10px;
    margin-left: 70px;
}

.edit-album-details button {
    margin-bottom: 10px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

#save-name {
    background-color: #00608d;
    border-radius: 5px;
    color: #fff;
    padding: 4px;
}

.text-color {
    color: #818181;
    margin-left: 5px;
    margin-right: 5px;
}

#add-song {
    background-color: #fff;
    border-radius: 5px;
    margin-left: 60px;
}


/*여기부터 추가함*/

#album-title {
    display: block;
    font-size: 2.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    font-family: Orbitron, sans-serif;
    color: white;
    margin-left: 2%;
}

.album-header {
    width: 97%;
    height: 1%;
    display: block;
    unicode-bidi: isolate;
}


.album-card-container {
    position: relative;
}

.album-card {
    position: relative;
    padding: 20px;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
    background-color: #2b3b4d;
}

.library-body li::marker {
    font-family: Orbitron, sans-serif;
    color: #a1a1a1;
}

.no-title {
    font-family: Orbitron, sans-serif;
    color: #a1a1a1;
}


#Songs {
    font-family: Orbitron, sans-serif;
    color: white;
}

#no-music {
    font-family: Orbitron, sans-serif;
    color: #a1a1a1;
}

.album-cover {
    width: 100%;
    height: auto;
    border-radius: 4px;

}

.album-menu2 {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}
.svg-album-menu2{
    color: white;
}
.menu-options {
    background-color: white;
}


.dropdown-menu {
    position: absolute;
    top: 30px;
    right: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    padding: 10px;
    z-index: 4;
}

.dropdown-menu input {
    margin-bottom: 5px;
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.dropdown-menu button {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.dropdown-menu button:hover {
    background-color: #0056b3;
}

.album-songs {
    padding: 10px;
    margin-top: 10px;
    color: gray;
}

.library-body {
    overflow: scroll;
    height: 95%;
}

.library-body::-webkit-scrollbar {
    display: none;
}

input {
    z-index: 20;
}

#create-album {
    z-index: 20;

}

.card-body {
    position: fixed;
    top: 20%;
    width: 89%;
    height: 75%;
    z-index: 0;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2%;
}

svg.play-button:hover {
    transform: scale(2); /* 이미지 확대 효과 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
}

.card-body::-webkit-scrollbar {
    display: none;
}

#p-edit {
    background-color: white;
}

#p-delete {
    background-color: white;
}

#p-edit:hover {
    background-color: gray;
}

#p-delete:hover {
    background-color: gray;
}

button.heart-button {
    background-color: initial;
}
svg.play-button {
    color: white;
}
.album-h3{
    color: white;
    text-align: center;
}

.album-card {
    display: flex; /* flex 사용 */
    flex-direction: row; /* 수평 배치 */
    justify-content: space-between; /* 간격 조정 */
    align-items: center; /* 수직 중앙 정렬 */
    padding: 20px;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
    background-color: #2b3b4d;
}

.album-cover {
    width: 100px; /* 이미지의 가로 길이 설정 */
    height: auto;
    border-radius: 4px;
    margin-right: 10px; /* 이미지와 텍스트 간의 간격 */
}

.album-songs {
    padding: 10px;
    margin-top: 0; /* 위쪽 마진 제거 */
    color: gray;
}
.album-card h3 {
    margin: inherit;
    margin-left: 35%;
    color: white;
}
.album-card, .album-card-container {
    position: relative;
}
.library-body svg:hover {
    transform: scale(1.5);
}

.album-name {
    width: 245px;
    overflow: auto;
}



@media (max-width: 375px) {
    /* .library-body: 화면 크기에 맞게 갤러리 카드 정렬 */
    .library-body {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .album-name {
        width: 120px;
        overflow: auto;
    }
    .create-album {
        background-color: #00000033;
        border-radius: 8px;
        display: block;
        height: 3%;
        padding: 1%;
        position: relative;
        top: -37%;
        unicode-bidi: isolate;
        width: 97%;
        z-index: 20;
    }

    .card-body {
        display: flex;
        flex-wrap: wrap;
        height: 75%;
        overflow: auto;
        position: fixed;
        top: 20%;
        width: 89%;
        z-index: 0;
    }

    /* 앨범 카드 크기 조정 */
    .album-card {
        width: 120px;
        padding: 10px;
        margin: 5px 0; /* 카드 간 간격 */
        background-color: #2b3b4d;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .album-card img {
        width: 120px; /* 이미지 크기 축소 */
        height: 120px;
        object-fit: cover;
        border-radius: 8px;
        margin: 10%;
    }

    /* 앨범 이름 폰트 크기 조정 */
    .album-card h3 {
        font-size: 14px;
        color: #fff;
        text-align: center;
        margin-top: 5px;
    }

    /* 버튼 스타일 조정 */
    .library-body button {
        padding: 8px 12px;
        font-size: 0.9rem;
    }

    /* 앨범 제목 크기 조정 */
    #album-title {
        font-size: 1.8em;
        color: white;
    }

    /* 앨범 목록 정렬 및 카드 크기 조정 */
    .album-card-container {
        position: relative;
        margin-right: 15px;
    }

    /* 앨범 커버 이미지 */
    .album-cover {
        width: 80px; /* 이미지 크기 조정 */
        height: 80px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    /* 앨범 메뉴 크기 및 위치 */
    .album-menu2 {
        left: 4px;
    }

    /* 앨범 상세 정보 영역 */
    .album-songs {
        padding: 8px;
        margin-top: 10px;
        color: gray;
        width: 100%;
    }

    /* 앨범 상세 옵션 버튼 스타일 */
    .dropdown-menu button {
        font-size: 0.8rem;
        padding: 5px 0;
    }

    .dropdown-menu input {
        font-size: 0.8rem;
        padding: 5px;
    }

    /* 앨범 목록 제목 스타일 */
    #Songs, #no-music {
        font-size: 14px;
    }

    /* 앨범 추가 입력 창 */
    .create-album input {
        font-size: 0.9rem;
    }

    .create-album button {
        font-size: 0.9rem;
        padding: 8px 12px;
    }

    /* 앨범 메뉴 표시 및 수정 */
    .menu-options {
        font-size: 0.8rem;
        text-align: center;
    }

    /* 음악 추가 input */
    #song-add {
        font-size: 0.8rem;
        padding: 5px 10px;
    }

    /* 앨범 편집 UI */
    .edit-album-details input[type="text"], .edit-album-details input[type="file"] {
        font-size: 0.8rem;
        padding: 8px;
        margin-bottom: 10px;
    }

    .edit-album-details button {
        font-size: 0.9rem;
        padding: 8px 12px;
    }

    /* 앨범 아트 업로드 스타일 */
    .edit-album-details input[type="file"] {
        margin-bottom: 10px;
    }

    /* 하트 버튼 크기 및 위치 */
    button.heart-button {
        font-size: 1rem;
        margin-left: 5px;
    }

    svg.play-button {
        width: 20px;
        height: 20px;
    }

    /* 음원 추가 관련 */
    .song-list ul li {
        font-size: 12px;
    }

    /* 스크롤바 숨기기 */
    .library-body::-webkit-scrollbar {
        display: none;
    }

    /* 제목을 클릭했을 때 레이아웃 조정 */
    .album-card h3 {
        font-size: 14px;
        text-align: center;
    }

    .album-card:hover {
        transform: scale(1);
    }
}
