.library-body {
  width: 94%;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* 왼쪽에서부터 시작 */
}

.screen-container h1{
  color: white;
  margin-top: 10px;
  margin-left: 5%;
  margin-bottom: auto;
}

.music-card {
  position: relative;
  width: 180px;
  height: 260px;
  border-radius: 20px;
  background-color: rgb(30, 42, 62);
  border: 1px solid rgba(235, 237, 240, 0.18);
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.music-card:hover {
  transform: translateY(-5px);
}

.music-info {
  text-align: center;
  padding: 20px 10px;
}

.music-title {
  font-size: 16px;
  margin-bottom: 5px;
}

.artist {
  font-size: 14px;
  color: #888;
}

.group {
  font-size: 12px;
  color: #888;
}

.favorite {
  font-size: 12px;
  color: #f00;
}

.music-controller {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background-color: rgba(30, 42, 62, 0.9);
  padding: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

@media screen and (max-width: 768px) {
  .music-card {
    width: calc(100% - 40px); /* Adjusted for padding */
    margin-right: 0;
    margin-bottom: 10px;
  }

  .music-controller {
    padding: 10px;
  }

  .music-controller audio {
    width: 70%;
  }

  .controls button {
    font-size: 20px;
  }
}

/* 화면이 작아질 때 카드들 사이의 여백 조정 */
/*@media screen and (max-width: 768px) {
  .music-card {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}*/