.library-body {
  width: 94%;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* 왼쪽에서부터 시작 */
}

.screen-container h1{
  color: yellow;
  margin-left: 5%;
  margin-bottom: auto;
}

.music-card {
  position: relative;
  width: 100px;
  height: 200px;
  border-radius: 20px;
  background-color: rgb(30, 42, 62);
  border: 1px solid rgba(235, 237, 240, 0.18);
  padding: 1%;
  margin-right: 20px;
  margin-bottom: 20px;
  background: rgb(30, 42, 62);
  background: linear-gradient(75deg, rgb(40, 58, 88) 0%, rgba(54, 69, 98, 0) 100%);
}

.music-controller {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.music-controller audio {
  width: 90%;
  margin: 5px 0;
}

/* 화면이 작아질 때 카드들 사이의 여백을 조정 */
@media screen and (max-width: 768px) {
  .music-card {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}