/*플리메뉴css*/
.playlist-menu {
    background: #fafafa;
    border: 20px solid #201658;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    z-index: 3;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    /*width: 25%;*/
    max-height: 80%; /* 메뉴가 화면을 넘지 않도록 제한 */
    overflow: hidden; /* 내부 요소만 스크롤 가능 */
}

.playlist-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.playlist-item.selected {
    /*background-color: #333;
    color: #fff;*/
    background-color: rgba(0, 0, 0, 0.2);
}

.playlist-menu h2 {
    margin-top: 0;
    text-align: center;
}

.playlist-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 300px; /* 목록 최대 높이 설정 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
    display: flex;
    flex-direction: column;
    align-items: center; /* 리스트 항목들을 가로로 중앙 정렬 */
    width: 100%;
}

.playlist-menu li {
    cursor: pointer;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    color: black;
    width: auto; /* 항목 너비를 자동으로 설정하여 내용에 맞게 크기 조정 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.playlist-menu li:last-child {
    border-bottom: none;
}

.playlist-menu li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.playlist-menu ul::-webkit-scrollbar {
    width: 8px; /* 스크롤바 너비 */
}

.playlist-menu ul::-webkit-scrollbar-thumb {
    background-color: rgba(32, 22, 88, 0.5); /* 스크롤바 색상 */
    border-radius: 4px;
}

.playlist-menu ul::-webkit-scrollbar-track {
    background: transparent; /* 스크롤 트랙 색상 */
}

.playlist-menu button {
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #201658;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.playlist-menu button:hover {
    background-color: #0f0b24;
}

.playlist-menu li::-webkit-scrollbar {
    display: none;
}