.library-body {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .album-card {
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .album-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }
  
  .album-card h3 {
    margin: 10px 0;
    font-size: 16px;
    color: #fff;
    text-align: center;
  }
  
  .song-list {
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0 0 15px 15px;
    margin-top: auto;
  }
  
  .song-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .song-list li {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .white-text {
    color: #fff;
    padding: 10px;
  }
  
  .create-album {
    color: #fff;
    padding: 10px;
    margin-right: 170px;
  }
  
  .audio-input {
    color: #fff;
    padding: 10px;
    margin-top: 2px;
  }
  
  .edit-album-details {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .edit-album-details input[type="text"],
  .edit-album-details input[type="file"] {
    margin-bottom: 10px;
  }
  
  .edit-album-details button {
    margin-bottom: 10px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  #edit {
    background-color: #3498db; /* 파란색 배경 */
    color: #fff; /* 흰색 텍스트 */
    padding: 6px 12px; /* 내부 여백 */
    border-radius: 6px; /* 둥근 모서리 */
    border: none; /* 테두리 없음 */
    cursor: pointer; /* 포인터 커서 */
    margin-right: 5px; /* 오른쪽 여백 */
    font-size: 12px; /* 글꼴 크기 */
  }
  
  #delete {
    background-color: #e74c3c; /* 빨간색 배경 */
    color: #fff; /* 흰색 텍스트 */
    padding: 6px 12px; /* 내부 여백 */
    border-radius: 6px; /* 둥근 모서리 */
    border: none; /* 테두리 없음 */
    cursor: pointer; /* 포인터 커서 */
    font-size: 12px; /* 글꼴 크기 */
  }