
.total-container {
    justify-content: center;
    align-items: center;
    height: 100vh; 
    display: flex;
  }
  /* 보라색 네모 박스 */
  .music-container {    
    text-align: center; 
    border:15px solid white;
    padding:6%;
    background-color:rgb(158, 158, 252);
}
 
  /*음표*/
  .icon-btn {
    font-size: 250px;
    border: 10px solid #f1ede9; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px; 
    height: 300px; 
    padding:30px;
    margin:20px;
  }
  

  
  button .icon {
    font-size: 35px; 
    color: #f1ede9;
    margin: 5px;
    cursor: pointer;
   
  }
  
  .music-container button {
    background-color: transparent;
    border: none;
    margin: 5px;
  }
  
  .music-bar {
    cursor: pointer;
    width: 70%; 
    
  }
  .icon-heart{
    transition: color 0.5s ease;
  }