.left-player-body {
    width: 68%;
    margin-right: 2%;
    height: 100%;
    color: #fff;
  }
  
  .right-player-body {
    
    align-items: center;
    -webkit-backdrop-filter: blur(12.5px);
    backdrop-filter: blur(12.5px);
    background: linear-gradient(0deg, #1e2a3e, #3645621a);
    border-radius: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 2% auto 3%;
    overflow: scroll;
    width: 28%;
    flex-direction: column;
    color: #fff;
   
  }

  .player-h1{
    
    margin-left: 5%;
    margin-top: 20px;
  }

  .right-player-body::-webkit-scrollbar{
    display:none;
  }
  
  .right-player-body ul{
    text-align: center;
    font-size: 25px;
    padding-bottom: 15px;
  }

  .right-player-body .current-playlist{
    cursor:pointer;
    
  }

  .right-player-body .current-playlist:hover{
    background-color: rgba(0,0,0,0.2);
  }


  .right-player-body .context-menu {
    position: absolute;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .right-player-body .context-menu div {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .context-menu div:hover {
    background-color: #f1f1f1;
  }
  